@model Minesweeper_Milestone350.Models.Cell[,]

<style>
    .cell-button {
        width: 75px; /* Adjust the width of the button to fill the entire cell */
        height: 75px; /* Adjust the height of the button to fill the entire cell */
        border: 1px solid black;
        background-color: lightblue;
        padding: 0; /* Remove padding to fill the entire button with content */
        position: relative; /* Ensure that the button is positioned relative */
    }

    .revealed {
        background-color: white;
    }

    .number {
        color: blue;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mine {
        background-color: white;
    }

    .cell-info {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 12px;
        color: red;
    }

    .button-zone {
        display: grid;
        grid-template-columns: repeat(10, 0fr);
        grid-template-rows: repeat(10, 0fr);
        gap: 2px; /* Adjust as needed */
        justify-content: center;
    }

    .gameInfo {
        margin-bottom: 20px;
    }


    .timestamp {
        position: absolute; /* Position the timestamp at the bottom */
        bottom: 0;
        color: black; /* Set text color to black */
        font-size: 9px; /* Set font size to 9px */
    }
</style>
</style>
<button id="startGameButton">Start Game</button>
<button id="load-game">Load Game</button>
<button id="savegame">Save Game</button>
<div id="gameOverOrWonContainer" class="gameInfo"></div>
<div class="button-zone"></div>
